@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@600&family=Fjalla+One&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
}
p {
  font-family: "Cormorant", serif;
}
a {
  color: black;
  text-decoration: none;
}
i {
  font-size: 2rem;
}
header {
  width: 100%;
  height: 150px;
  padding: 0 100px 200px;
  text-align: center;
}

.logo {
  max-width: 200px;
  max-height: 200px;
  display: inline;
  margin: 0 auto;
}
.logoLink {
  max-width: 200px;
  max-height: 200px;
}

.favicon {
  margin-top: -90px;
  margin-bottom: 50px;
  display: flex;
  gap: 30px;
  justify-content: end;
}
.line {
  border-bottom: 1px solid grey;
  max-width: 1300px;
  margin: 0 auto;
}
main {
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
article {
  margin: 0 100px 100px 100px;
  text-align: center;
}

.item {
  max-width: 300px;
  max-height: 600px;
}
.itemHover {
  position: absolute;
  opacity: 0;
  transition: opacity;
}
.itemHover:hover {
  opacity: 100%;
}
.price {
  font-size: 2rem;
}
.nameItem {
  font-size: 1.5rem;
}
.addToCart {
  margin-top: 10px;
  padding: 5px 50px;
  font-size: 1rem;
  color: white;
  background-color: rgb(23, 23, 23);
  border: 1px solid rgb(23, 23, 23);
  transition: background-color 30ms ease-out;
}
.addToCart:hover {
  color: black;
  background-color: white;
  border: 1px solid rgb(23, 23, 23);
}
footer {
  max-width: 100%;
  height: 100px;
  margin: 10px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
@media only screen and (max-width: 425px) {
  .logo {
    max-width: 100px;
  }
  header {
    padding: 0 50px 100px;
  }
  .headerWrapped {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .favicon {
    margin-top: 50px;
    gap: 20px;
  }
  .fa-header {
    font-size: 1rem;
  }
  .item {
    max-width: 200px;
    max-height: 400px;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 20px;
  }
  main :last-child {
    margin-bottom: 1%;
  }
}
